@charset "ISO-8859-1";

body{
	font-family: Times;
	background-color: light blue:
}

div.mainContainer{
	font-family: Times;
	background-color:sky blue;
	border: 1px solid black;
}

div.ulNav{
	margin: 2pt;
}

header
{
	font-family: Times;
	background-color: blue:
	border: 3px solid red;
	position: sticky;
	top: 0;
	z-index: 1;
}

a:hover{
	color: blue;
}


#nav li{
	padding: 6px;
	margin: 2pt;
	border: red;
}

h1
{
	font-style:bold;
	font-color:red;
}
#DJF
{
	float: left;
	margin: 0 15px 20px 0;
	animation: fadeInLeft 2s ease-out;
}
@keyframes fadeInLeft{
	from{
	opacity: 0;
	transforms: translatex(-60px)
	}
	to{opacity:1}
}
	
