@charset "ISO-8859-1";

.nav{
	margin: 2pt;
}
.container p{
	border: 1px solid black;
}

a:hover{
	color: blue;
}

#DJF
{
	float: left;
	margin: 0 15px 20px 0;
	animation: fadeInLeft 2s ease-out;
}

.body{
	
	border: solid black;
	background-color: light blue;
}