@charset "ISO-8859-1";

.nav{
	margin: 2pt;
}
.container p{
	border: 1px solid black;
}

a:hover{
	color: blue;
}

#header{
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 1;
}

#DJF
{
	float: left;
	margin: 0 15px 20px 0;
	animation: fadeInLeft 2s ease-out;
}
@keyframes fadeInLeft{
	from{
	opacity: 0;
	transforms: translatex(-60px)
	}
	to{opacity:1}
}
	

.body{
	
	border: solid black;
	background-color: light blue;
}